<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./about-us.css">
    <title>About us</title>
</head>

<body>
    <header class="header">
        <!-- <img src="../../imagenes/icons8-libro-50.png" alt=""> -->
        <div class="header__content">
            <ul class="header__list">
                <li class="header__list--item">
                    <a href="../../blogPost.html">Home</a>
                </li>
                <li class="header__list--item">
                    <a href="/">Galeria</a>
                </li>
                <li class="header__list--item">
                    <a href="/">Nosotros</a>
                </li>
                <li class="header__list--item">
                    <a href="/">Registrate</a>
                </li>
            </ul>
        </div>
    </header>
    <section class="container">
        <div class="container__title">
            <div class="container__title--reference">
                <p>
                    <a href="../../blogPost.html">Home</a>
                    /About
                </p>
            </div>
            <div class="container__title--profile">
                <p>About</p>
                <span>Profile</span>
            </div>
        </div>
        <div class="container__image">
            <img src="../../imagenes/pexels-pixabay-159711.jpg" alt="libros">
        </div>
    </section>

    <div class="content__title">
        <p class="title">
            <a href="">Biblioteca</a>
        </p>
    </div>
    <section class="container__about">
        <div class="container__about--text">
            <p>
                LA BIBLIO ES UNA RECOPILACION DE TEXTOS ELECTRONICOS REPARTIDOS EN LA RED
                Y ESTRUCTURADOS POR AREAS CURRICULARES QUE PRETENDE SERVIR DE APOYO A
                ESTUDIANTES, PROFESORES O CURIOSOS COMO APOYO O INFORMACION. EN SU MAYORIA,
                TANTO COMO EL MEDIO LO PERMITE, LOS LINKS ESTAN ENLAZADOS DIRECTAMENTE A
                LOS TEXTOS CONTENIDOS EN LAS WEB, DE FORMA QUE AQUI SOLO SE RECOJA LOS TEXTOS
                QUE ACOMPAÑAN A ELLAS FACILITANDOSE ASI EL TRABAJO DE CAPTACION DE DICHOS
                TEXTOS LOS CUALES, A EXCEPCIÓN DE MUY POCOS, SON EN ESPAÑOL.
            </p>
        </div>
    </section>
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__list--item">Terminos de uso</li>
            <li class="footer__list--item">Declaracion de privacidad</li>
            <li class="footer__list--item">Centro de ayuda</li>
        </ul>
    </footer>
</body>

</html>